services:
  - type: web
    name: gemini-chatbot
    env: node
    buildCommand: npm install
    startCommand: npm start
    plan: free
    healthCheckPath: /api-status
    envVars:
      - key: GEMINI_API_KEY
        value: AIzaSyAsJt-PrZy6TJSCYx19v5fricl8S0ArHgc
      - key: PORT
        value: 10000
      - key: GEMINI_MODEL
        value: gemini-2.5-flash
      - key: PAYLOAD_LIMIT
        value: 150mb
      - key: NODE_ENV

        value: production 
